/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared style */
:root {
  --backgroud: #fff;
  --black: #0b0223;
  --light-blue: #f8fafde3;
  --pink: #f948b2;
}

* {
  padding: 0;
  margin: 0;
  font-family: Work Sans;
  border: 0;
}

.card-description {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: lowercase;
  margin-top: 16px;
}

.section-tittle {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 24px;

  background: linear-gradient(180deg,#f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-description {
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 32px;
}

.card {
  width: 24%;
}

.card img {
  width: 100%;
}

.footer-tittle,
.footer-feature,
.footer-condition {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
